/* src/styles/App.css */

body {
  background-color: #f0f2f5;
}

.app-container {
  min-height: 100vh;
  color: #1c1e21;
}

.main-content {
  padding-top: 50px;
  max-width: 900px;
  margin: 0 auto;
}

.tab-content > * {
  margin-top: 10px;
}
